.navbar{
	background-color: #E9ECEF;
	color: black;
}
body{
	max-height: 100%;
}
html{
	max-height: 100%;
}
.navbar-nav li{
	padding-right: 40px;
}
.inputPersonel{
	/*position: relative;
	left: 10%;*/
	margin:0px auto;
	width: 20%;
}
section{
	height: 800px;
}
.imageProduit{
	height: 100px;
	position: relative;
	left: 25%;
}
#boutonPanier{
	transition: .9s ease;
	margin:0px auto;
	width: 30%;
	height: 40px;
}
#boutonPanier:hover{
	box-shadow: 0px 0px 0px 4px;
	width: 50%;
}
footer{
	border-top: 1px solid white;
	color: white;
	padding-top: 30px;
	margin:0px auto;
	text-align: center;
}
